<h1>Added a new test result</h1>

<p>
    <strong>Date:</strong>
    <%= @testform.date %>
</p>

<p>
    <strong>Result:</strong>
    <%= @testform.RESULT %>
</p>

<li><%= link_to 'Back', '/testforms' %></li>